/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain, .exerciseHeaderLogo{
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    gap: 10px;
    margin-bottom:10px;

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
    display: flex;
    gap: 10px;
    width: 20%;
}

.exerciseHeaderNav ul {
    display: flex;
   list-style-type: none;
   gap: 10px;
   width: 100%;
}

.exerciseHeaderNav ul li {
min-width: 20%;

}


.exerciseMainContent {
    
}


.exerciseAdditionalFeatures {
    display: flex;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width:33%;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}